<html>

<head>
    <title>Harrison Welch</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/styles.css">
    <script src="../scripts/index.js"></script>
    <link rel="icon" href="../favicon.ico">
</head>

<body>

    <div class="main_class">

        <div class="main_header">

            <div>
                <a href="https://harrisonwelch.github.io">
                    <p class="header_name">Harrison Welch</p>
                </a>
            </div>

            <div class="header_about">
                <a href="./views/about.html">
                    <p>About Me</p>
                </a>
            </div>

            <div class="stop_float"></div>

        </div>

        <div class="stop_float"></div>


        <div class="story_col">
          <h2 class="stories_header">About</h2>
          <div class="story_title" style="padding-left:25px;">
              <p></p>
          </div>
          <div class="story">
            <p>Harrison Welch is a Computer Science major and Mathematics minor at
Austin Peay State University, Clarksville, Tennessee. Harrison’s
research is focused in the field of robotics engineering focusing on
symbiotic assistance i.e. aiding the paraplegic and quadriplegic. His
previous projects include a robotic guitar player and a robotic bongo
player, while his current project involves utilizing computer vision
for alternative control systems via hand gesture tracking and eye
(pupil) tracking. Involvement-wise, Harrison is the president of his
local ACM chapter, a member of the Pi Mu Epsilon honor society for
excellence in mathematics, and a member of the Phi Kappa Phi honor
society for general academic excellence. His other interests include
drawing, functional programming, and data wrangling systems. </p>
          </div>
        </div>

        <div class="about_col">
            <img class="about_photo" src="../images/hrw.jpg"></img>
            <!-- <a href="http://www.eng.auburn.edu/comp/research/impact/">
                <p class="story_title">Auburn REU</p>
            </a>
            <p class="story_update">Updated: 6/13/2018</p> -->

            <div class="about_social_bar">
              <a class="about_social" href="https://www.facebook.com/harrison.welch.16">
                  <img class="about_social_img" src="../images/Facebook_logo_2014_wiki_blue.png" alt="facebook icon">
              </a>

              <a class="about_social" href="https://twitter.com/HarrisonRWelch">
                  <img class="about_social_img" src="../images/Twitter_Logo.png" alt="facebook icon">
              </a>

              <a class="about_social" href="https://www.instagram.com/superharrison/?hl=en">
                  <img class="about_social_img" src="../images/Instagram_icon.png" alt="facebook icon">
              </a>

              <a class="about_social" href="https://www.linkedin.com/in/harrison-welch-1361aa128/">
                  <img class="about_social_img" src="https://upload.wikimedia.org/wikipedia/commons/c/c9/Linkedin.svg" alt="facebook icon">
              </a>
            </div>

            <p class="about_info">Phone</p>
            <p class="about_info"><a class="about_email" href="tel:+1-405-570-0968">(405) 570-0968</a></p>
            <div class="quick_border"></div>
            <p class="about_info">Email</p>
            <p class="about_info"><a class="about_email" href="mailto:harrison.r.welch@gmail.com">harrison.r.welch@gmail.com</a></p>
            <div class="quick_border"></div>

        </div>

        <div class="stop_float"></div>
        <!-- <img src="images/hrw.jpg"></img> -->
    </div>


</body>

</html>
