<html>

<head>
    <title>Harrison Welch</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/styles.css">
    <script src="../scripts/index.js"></script>
    <link rel="icon" href="../favicon.ico">
</head>

<body>

    <div class="main_class">

        <div class="main_header">

            <div>
                <a href="../index.html">
                    <p class="header_name">Harrison Welch</p>
                </a>
            </div>

            <div class="header_about">
                <a href="./views/about.html">
                    <p>About Me</p>
                </a>
            </div>

            <div class="stop_float"></div>

        </div>

        <div class="stop_float"></div>


        <div class="story_col">
          <h2 class="stories_header">About</h2>
          <div class="story_title" style="padding-left:25px;">
              <p>Current student and employee of Austin Peay State University.I have experience in programming languages such as: Python, Javascript, and C++</p>
          </div>
          <div class="story">
          </div>
        </div>

        <div class="about_col">
            <img class="about_photo" src="../images/hrw.jpg"></img>
            <!-- <a href="http://www.eng.auburn.edu/comp/research/impact/">
                <p class="story_title">Auburn REU</p>
            </a>
            <p class="story_update">Updated: 6/13/2018</p> -->

            <div class="about_social_bar">
              <a class="about_social" href="https://www.facebook.com/harrison.welch.16">
                  <img class="about_social_img" src="../images/Facebook_logo_2014_wiki_blue.png" alt="facebook icon">
              </a>

              <a class="about_social" href="https://twitter.com/HarrisonRWelch">
                  <img class="about_social_img" src="../images/Twitter_Logo.png" alt="facebook icon">
              </a>

              <a class="about_social" href="https://www.instagram.com/superharrison/?hl=en">
                  <img class="about_social_img" src="../images/Instagram_icon.png" alt="facebook icon">
              </a>

              <a class="about_social" href="https://www.linkedin.com/in/harrison-welch-1361aa128/">
                  <img class="about_social_img" src="https://upload.wikimedia.org/wikipedia/commons/c/c9/Linkedin.svg" alt="facebook icon">
              </a>
            </div>

            <p class="about_info">
              Harrison Welch<br>
              (405) 570-0968<br>
              3125 Carrie Taylor Circle
            </p>

        </div>

        <div class="stop_float"></div>
        <!-- <img src="images/hrw.jpg"></img> -->
    </div>


</body>

</html>
