* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    color: #333;
    /* background-color: #FF0000 */
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/* .center{
  align-self: center;
} */

body {
    background-color: #333;
}

img {
    width: 50;
    height: 50;
}

.main_header {
    border-bottom: 5px solid #333;
    border-top: 5px solid #333;
}

.header_name {
    float: left;
    width: 65%;
    color: black;
    font-size: 64px;
    font-weight: bold;
    padding: 10px 0px 10px 25px;
}

.header_name:hover {
    color: #0024b7;
    /* text-decoration: underline; */
}

.header_about {
  font-size: 24px;
    float: right;
    width: 30%;
    padding: 30px 0px 25px 0px;

}

.main_class {
    max-width: 1000px;
    margin: auto;
    /* padding: 10 0 10 0; */
    background-color: #c170ff;
    height: 199.5%;
    border-bottom: 5px solid #333;
}

.stories_header {
    /* padding-left: 15px; */
    padding: 15px;
    text-decoration: none;
    text-align: center;
    border-bottom: 5px solid #333;
}

.story_col {
    float: left;
    /* padding-left: 25px; */
    width: 72.5%;
}

.story {
  padding-left: 15px;
  padding-bottom: 15px;
  border-bottom: 5px solid #333;
}

.story_title {
    font-size: 48px;
    /* padding-left: 5px; */
    margin: 0px;
    padding: 5px;
}

.story_title:hover {
    color: #0024b7;
}

.story_update {
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    color: #555;
}

.story_desc {
    padding-left: 20px;
    font-size: 16px;
}

.story_download {
  text-decoration: underline;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.stop_float {
    clear: both;
}

.about_col {
    float: left;
    width: 25%;
    border-left: 5px solid #333;
    height: 89.5%;
    /* padding: 5px; */
}

.about_photo {
    width: 103.5%;
    height: auto;
    padding: 5px;
}

.about_social {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}

.about_social_img {
  padding: 5px 0px 0px 23px;
  height: auto;
  width: 10%;
}

.about_social_img:hover {

}

.about_social_bar {
  /* background: #333; */
  /* margin: 5px; */
  margin: none;
  width: 108%;
  border-top: 5px solid #333;
  border-bottom: 5px solid #333;
  padding-left: 15px;
}

.about_info {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 22px;
  text-align: center;
  padding-top: 10px;
  padding-left: 10px;
  width: 100%;
}

.about_email {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  padding-left: 2px;
  width: 100%;
}

.about_email:hover {
    color: #0024b7;
}

.quick_border {
  width: 120%;
  padding-top: 12px;
  border-bottom: 5px solid #333;
}
